/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
/* Prevent inheritence from `body` */

  background-color: #fff;
  border: 1px solid #fff;
}

.calendar-table tbody td:hover{
	background-color: #D9EDF7;
}

.calendar-table thead th{
	font-weight: normal;
}

.calendar-table tbody td.start{
  background-color: #DFF0D8;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.calendar-table tbody td.interval{
  background-color: #F5F5F5;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.calendar-table tbody td.end{
  background-color: #F2DEDE;
  border-left: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.calendar-table tbody td.secondary{
  color: #DDD;
}

.calendar-table tbody td.today{
  font-weight: bold;
  color: Maroon;
}


.calendar-table tbody td{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.dropdown-toggle{
  margin: 5px 5px 0px 5px;
}

.dropdown-menu{
  margin: 2px 5px 0px 5px;
  min-width: 0px;
}

.popover-footer {
  margin-top: -20px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #F7F7F7;
  border-top: 1px solid #EBEBEB;
  border-radius: 0 0 5px 5px;
}

.popover-title {
    /*background-color: #484848;*/
    /*background-color: #303030;
    color: white;
    text-align: center;*/
}

.year-dropdown ul {
  max-height: 200px;
  overflow-x: hidden;
}
