.maroonYears::-webkit-scrollbar {
    display: none;
}

.btn-maroon,
.btn-maroon:hover,
.btn-maroon:focus {
  background-color: transparent;
  border: 1px solid transparent;
  margin: -5px -10px 0 -10px;
}

.maroonTitle {
}

.maroonMonth, .maroonYear{
  padding: 2px;
}

.maroonMonths, .maroonYears{
  margin: 2px -10px 0 -10px;
  min-width: 0;
}

.maroonMonths a.primary, .maroonYears a.primary {
    color: maroon;
}

.maroonMonths li, .maroonYears li {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.maroonYears {
  min-width: 78px;
  max-height: 200px;
  overflow-x: hidden;
  text-align: center;
}

.maroonMonths {
    min-width: 113px;
}

.maroonWeekdays th{
	font-weight: normal;
}

.maroonWeekdays th.primary{
	border-bottom: 1px solid maroon;
}

.maroonContent tr {
    border-bottom: solid 1px #ddd;
}

.maroonContent td{
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.maroonContent td:hover{
	background-color: #D9EDF7;
}

.maroonContent td.start{
  background-color: #DFF0D8 !important;
}

.maroonContent td.interval{
  background-color: #F5F5F5;
}

.maroonContent td.end{
  background-color: #F2DEDE !important;
}

.maroonContent td.secondary{
  color: #DDD;
}

.maroonContent td.primary{
  font-weight: bold;
  color: maroon;
}

.popover-footer {
  margin-top: -20px;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  background-color: #F7F7F7;
  border-top: 1px solid #EBEBEB;
  border-radius: 0 0 5px 5px;
}

.maroonPopover {
    display: block;
    outline: none;
}
