<div class="panel-heading">
    <div class='arrow'></div>
    <h4 class='panel-title'>{{title}}</h4>
</div>
<div class="panel-body">
    <div class='dropdown month-dropdown pull-left'>
		<button class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='true'>
			<span class='fa-chevron-circle-down'></span>
			<span class='current-month'>{{currentMonth}}</span>
		</button>
		<ul class='dropdown-menu month-dropdown' role='menu'>
			{{#months}}
			<li><a>{{.}}</a></li>
			{{/months}}
		</ul>
	</div>
	<div class='dropdown year-dropdown pull-right'>
		<button class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='true'>
			<span class='current-year'>{{currentYear}}</span>
			<span class='fa-chevron-circle-down'></span>
		</button>
		<ul class='dropdown-menu year-dropdown' role='menu'>
			{{#yearList}}
			<li><a>{{.}}</a></li>
			{{/yearList}}
		</ul>
	</div>
	<div class='calendar-content popover-content'>
		<table class='table calendar-table table-striped'>
			<thead>
				<tr>
					{{#weekdays}}
					<td>{{.}}</td>
					{{/weekdays}}
				</tr>
			</thead>

			<tbody>
				{{#content}}
				<tr>
					{{#.}}
					<td>{{.}}</td>
					{{/.}}
				</tr>
				{{/content}}
			</tbody>
		</table>
	</div>
</div>
<div class="panel-footer col-xs-12">
    <div class="col-xs-6">
        <input id='start' class='datepickerInput form-control input-sm' type="text" placeholder='alveno' value={{startDateInterval}}>
    </div>
    <div class="col-xs-6">
        <input id='start' class='datepickerInput form-control input-sm' type="text" placeholder='foriro' value={{endDateInterval}}>
    </div>
</div>
