<div class='popover-footer col-xs-12'>
	<div class=" col-xs-6">
		<input class='form-control input-sm' type="text" placeholder='Anreise' value={{startDate}}>
	</div>
	<div class="col-xs-6">
		<input class='form-control input-sm' type="text" placeholder='Abreise' value={{endDate}}>
	</div>
</div>
