<h3 id="calendar-title" class='popover-title'></h3>
<div class='dropdown month-dropdown pull-left'>
	<button class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='true'>
		<span class='fa-chevron-circle-down'></span>
		<span id="calendar-currentMonth" class='current-month'></span>
	</button>
	<ul id="calendar-months" class='dropdown-menu month-dropdown' role='menu'>

	</ul>
</div>
<div class='dropdown year-dropdown pull-right'>
	<button class='btn btn-default dropdown-toggle' type='button' data-toggle='dropdown' aria-expanded='true'>
		<span id="calendar-currentYear" class='current-year'></span>
		<span class='fa-chevron-circle-down'></span>
	</button>
	<ul id="calendar-years" class='dropdown-menu year-dropdown' role='menu'>

	</ul>
</div>
<div class='calendar-content popover-content'>
	<table class='table calendar-table'>
		<thead>
			<tr id="calendar-weekdays">

			</tr>
		</thead>

		<tbody id="calendar-content">

		</tbody>
	</table>
</div>
<div class='popover-footer col-xs-12'>
	<div class=" col-xs-6">
		<input id='start' class='datepickerInput form-control input-sm' type="text" placeholder='Anreise' value=''>
 	</div>
	<div class="col-xs-6">
		<input id='start' class='datepickerInput form-control input-sm' type="text" placeholder='Abreise' value=''>
	</div>
</div>
